<div class="navbar-container">
  <!-- Logo -->
  <div class="navbar-brand-container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-avocate280.png", height: 100 %>
    <% end %>
  </div>
  <div class="navbar-description">

    <div class="navbar-title">
      <h1>Maître Francine LINDAGBA MBA</h1>
    </div>

    <div class="navbar-description-right">

      <div class="navbar-contact">
        <div class="navbar-contact-item">
          <i class="fas fa-map-marker-alt"></i>
          <p>105 rue Lecocq 33000 Bordeaux <br> 4 rue Thérèse 33560 Carbon Blanc</p>
        </div>
        <div class="navbar-contact-item">
          <i class="fas fa-mobile-alt"></i>
          <p>Bordeaux : 05 35 54 52 30 <br> Carbon-Blanc :  05 57 30 86 04</p>
        </div>
        <div class="navbar-contact-item">
          <i class="far fa-envelope"></i>
          <a class="emailto" href="mailto:flm.cabinet.avocat@gmail.com">flm.cabinet.avocat@gmail.com</a>
        </div>
      </div>
    </div>

  </div>
  <div class="navbar-description-link navbar-item navbar-link">
    <%= link_to "ACCUEIL", root_path, class: current_class?(root_path) %>
    <%= link_to "DOMAINES D'EXPERTISE", domaines_expertise_path, class: current_class?(domaines_expertise_path) %>
    <%= link_to "ARTICLES", articles_path, class: current_class?(articles_path)  %>
    <%= link_to "HONORAIRES", honoraire_path, class: current_class?(honoraire_path)  %>
    <%= link_to "CONTACT", contacts_path, class: current_class?(contacts_path)%>
  </div>
</div>
<% if user_signed_in? %>
  <div class="admin-navbar-container">
    <div class="admin-link">
      <%= link_to "DECONNEXION", destroy_user_session_path, :method => :delete %>
    </div>
    <div class="admin-link">
      <%= link_to "AJOUTER UN ARTICLE", new_article_path %>
    </div>
  </div>
<% end %>

