<div class="accueil-container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
            <img src="<%= asset_path 'Palais-de-justice.png' %>" alt="Palais de justice Bordeaux">
          </div>
          <div class="item">
            <img src="<%= asset_path 'Place-de-la-bourse.png' %>" alt="Place de la bourse Bordeaux">
          </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>

  <div class="accueil-description">
    <div class="accueil-description-title">
      <h1>CABINET D’AVOCAT <br> - <br> BIENVENUE SUR LE SITE DE MAITRE LINDAGBA-MBA</h1>
      <h3><bold> « Je jure comme Avocat d’exercer ma profession avec Dignité, Conscience, Indépendance, Probité et Humanité… »</bold></h3>
      <h4>Tel est le serment qu’a prêté Maître Francine LINDAGBA-MBA devant ses pairs et la Cour d’Appel de BORDEAUX un jour du mois de janvier 2000</h4>
    </div>
    <div class="accueil-description-content">
      <p class="text-justify">
        Avec un MASTER 2 en DROIT PRIVE GENERAL et un MASTER 2 en DROIT DES AFFAIRES, le Cabinet de Maître LINDAGBA-MBA intervient tant en matière de conseil que de contentieux, assurant une prestation de Conseil à haute valeur ajoutée et une représentation en justice de qualité.
      </p>
      <p>
        Nous mettons nos compétences au profit d’une clientèle de particuliers et d’entreprises.
      </p>
      <p class="text-underline" style="font-weight:bold;">
        Nos engagements pour mériter votre confiance :
      </p>
      <ul>
        <li><p>Ecoute et Proximité</p></li>
        <li><p>Réactivité et Disponibilité </p></li>
        <li><p>Efficacité et Transparence</p></li>
      </ul>
    </div>
    <div class="accueil-description-title">
      <h2>PRESENTATION</h2>
    </div>
    <div class="accueil-description-content">
      <p class="text-justify">
        Situé à BORDEAUX (pour le bureau principal) et à CARBON-BLANC (pour le bureau secondaire), le cabinet de Maître Francine LINDAGBA-MBA est à votre disposition du lundi au samedi.
      </p>
      <p class="text-justify">
        Le cabinet intervient en tant que conseil et lors de procédures judiciaires devant les juridictions françaises, notamment en Droit de la famille, des personnes et de leur patrimoine ; en Droit Commercial, des affaires et de la concurrence ; en Droit des sociétés ; en Droit du Travail et en droit du Crédit et de la consommation.
      </p>
      <p>Maître Francine LINDAGBA-MBA accepte l'aide juridictionnelle et apporte la même attention à chaque client.</p>
      <p>En poussant les portes du cabinet, vous trouverez un Conseil éclairé et une stratégie de défense sûre.</p>
      <br>
      <p class="text-underline text-justify" style="font-weight:bold;">
        Notre cabinet met ses compétences à votre service :
      </p>
      <ul>
        <li class="text-left">
          <p>En vous informant et vous conseillant au regard des dernières évolutions légales et jurisprudentielles : Nous déterminons avec vous la solution adéquate à votre situation particulière et vous conseillons sur la meilleure stratégie pour la sauvegarde de vos droits et intérêts</p>
        </li>
        <li class="text-left">
          <p>En élaborant et rédigeant vos contrats ou conventions dans un souci de sécurité juridique</p>
        </li>
        <li class="text-left">
          <p>En vous représentant et défendant vos intérêts à l'égard des tiers devant les juridictions</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="accueil-droit">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="accueil-droit-content">
            <div class="accueil-droit-text">
              <h3>Droit de la famille, des personnes et de leur patrimoine</h3>
              <p>
                Le contentieux de la famille est lourd et difficile ; le droit y est en constante évolution à l’instar des mutations de notre société. Nous nous tenons à vos côtés pour vous assister et vous accompagner dans la recherche de la stratégie la plus adaptée à vos attentes, et en privilégiant les différents modes amiables de règlement des différends.
              </p>
            </div>
            <%= link_to domaines_expertise_path(anchor: 'droit_famille') do %>
              <div class="accueil-droit-link">
                  <p>En savoir plus</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="accueil-droit-content">
            <div class="accueil-droit-text">
              <h3>Droit des Affaires et Droit Commercial</h3>
              <p>
                Vous avez des projets personnels et professionnels. Cependant, la loi est omniprésente et détermine nos choix. Nul n’est censé l’ignorer. Ne soyez plus seul devant vos choix. <br> <br>
                Nous sommes là pour vous assurer un rôle de conseil, d'information, de représentation et d'assistance pour tous vos projets et procédures.
              </p>
            </div>
            <%= link_to domaines_expertise_path(anchor: 'droit_affaire') do %>
              <div class="accueil-droit-link">
                  <p>En savoir plus</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="accueil-droit-content">
            <div class="accueil-droit-text">
              <h3>Droit du Travail et social</h3>
              <p>
                La complexité croissante de la législation sociale implique une approche approfondie et sans cesse réactualisée. <br> <br> Le cabinet intervient aussi bien auprès des salariés que des chefs d’entreprise dans toutes les problématiques qu’ils affrontent dans le monde du travail.
              </p>
            </div>
            <%= link_to domaines_expertise_path(anchor: 'droit_travail') do %>
              <div class="accueil-droit-link">
                  <p>En savoir plus</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="accueil-droit-content">
            <div class="accueil-droit-text">
              <h3>Droit des Baux, du Crédit et de la Consommation</h3>
              <p>
                Le cabinet est engagé dans la défense des consommateurs et pour une justice humaine et juste. <br> <br>
                Vous rencontrez un litige avec un Professionnel ? Vous pouvez compter sur nos compétences pour retrouver l’équilibre dans vos relations contractuelles. <br> <br>
                Nous vous assurons assistance et représentation pour toutes questions relatives au bail d’habitation, contrat de vente, au contrat de crédit, au droit du surendettement, au SAV ainsi qu'aux clauses abusives.
              </p>
            </div>
            <%= link_to domaines_expertise_path(anchor: 'droit_baux') do %>
              <div class="accueil-droit-link">
                  <p>En savoir plus</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="accueil-droit-content">
            <div class="accueil-droit-text">
              <h3>Droit des Etrangers et de la nationalité</h3>
              <p>
                Vous êtes ressortissant étranger et vous vous heurtez à la machine administrative ou judiciaire pour la reconnaissance de votre droit au séjour ? <br> <br>
                Vous pourrez solliciter les compétences du cabinet pour faire votre demande d'admission au séjour sur le territoire français ; un recours contre une décision de refus de séjour ; un recours contre une obligation de quitter le territoire français ; une demande de visa ; de  regroupement familial, ou d’asile ; ou encore une demande de naturalisation. <br> <br>
                Dynamique et réactive dans ce domaine très technique, Maître Francine LINDAGBA-MBA s’attache à privilégier une relation de confiance avec vous en étant à votre écoute. 
              </p>
            </div>
             <%= link_to domaines_expertise_path(anchor: 'droit_etranger') do %>
              <div class="accueil-droit-link">
                  <p>En savoir plus</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
