<div class="domaine-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit">
          <div class="domaine-droit-content" id="droit_affaire">
            <h3>Droit commercial, des affaires et des Sociétés</h3>
            <p>
              Nous assurons un rôle de conseil, d'information, de représentation et d'assistance dans les dossiers suivants : <br> <br>
              <ul>
                <li>Gestion des contentieux commerciaux devant les tribunaux : les Tribunaux de Commerce, les Tribunaux de Grande Instance et Cours d’Appel</li>
                <li>Litiges clients fournisseurs et recouvrement de créances et impayés</li>
                <li>Entreprises en difficulté et procédures de sauvegarde, de redressement et de liquidation</li>
                <li>Conseil et contentieux en concurrence déloyale et lors d'une rupture des relations commerciales</li>
                <li>Conseil et assistance en droit des affaires et droit des contrats</li>
                <li>Fonds de commerce et baux commerciaux</li>
                <li>Rédaction de contrats commerciaux, informatiques, distribution, agent commercial, CGU, CGV</li>
                <li>Cessions de parts sociales et d'action, négociation protocoles d'accord</li>
                <li>Conseil et prise en charge des formalités de création d'entreprises (SARL, SAS, SA, SCI...)</li>
                <li>Rédaction de statuts de sociétés et de pactes d'actionnaires</li>
                <li>Secrétariat juridique de sociétés : assemblées générales (AG), modifications statutaires...</li>
                <li>Conseil et stratégie de défense lors de procédures collectives (entreprises en difficulté)</li>
                <li>Conseil et défense devant les tribunaux lors de contentieux en droit des sociétés</li>
              </ul>
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-affaire.png' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit-reverse">
          <div class="domaine-droit-content" id="droit_famille">
            <h3>Droit de la famille</h3>
            <p>
             Vous voulez engager ou défendre à une procédure de divorce, de séparation, de liquidation de régime matrimonial ou de pension alimentaire? <br> <br>
              Le cabinet se charge de tout le contentieux de la famille, des personnes et de leur patrimoine et notamment : <br> <br>
              <ul>
                <li>Le divorce</li>
                <li>La séparation des concubins ou de partenaires pacsés</li>
                <li>Les actions en partage de communauté ou d'indivision</li>
                <li>Le règlement des successions et donations : héritage, testaments, legs</li>
                <li>Le contentieux relatif à la filiation (établissement, contestation de paternité)</li>
                <li>Les adoptions de mineurs et majeurs</li>
                <li>Le droit de visite des grands-parents</li>
                <li>Le contentieux des pensions alimentaires et prestations compensatoires</li>
                <li>Droit des Mineurs : Assistance devant le Juge des Enfants pour les enfants en danger</li>
                <li>Tutelles et curatelles, mandat de protection future</li>
                <li>Procédures en responsabilité civile : indemnisation pour faute, réparation du dommage corporel</li>
                <li>Droit du patrimoine, transmission, régime matrimonial, SCI</li>
                <li>Mariage, Pacs, concubinage, état civil, changement de nom et prénom, adjonction de nom</li>
                <li>Trouble de voisinage</li>
              </ul>
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-famille.png' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit">
          <div class="domaine-droit-content" id="droit_travail">
            <h3>Droit du travail et social</h3>
            <p>
            Que vous soyez dirigeant ou salarié, le cabinet de Maître LINDAGBA-MBA vous accompagnera dans les dossiers afférents au licenciement, au harcèlement moral, et plus généralement à tous les litiges survenant pendant l'exécution du contrat de travail, que ce soit en précontentieux à travers une négociation ou encore lors d'un contentieux devant le Conseil des Prud'hommes. <br> <br>
            A titre indicatif, Nous vous aidons à trouver des issues favorables dans les domaines suivants : <br> <br>
            <ul>
              <li>Rédaction et analyse de contrats de travail (CDI, CDD ...),</li>
              <li>Accidents du travail, maladies professionnelles ; responsabilité pénale du chef d'entreprise</li>
              <li>Représentation et négociation des intérêts des salariés avec l'employeur</li>
              <li>Actions pour licenciement sans cause réelle et sérieuse, licenciement pour faute...</li>
              <li>Litiges sur l'exécution d'un contrat de travail ou sur ses modifications et sa rupture</li>
              <li>Conseil aux employeurs et défense devant le Conseil des Prud'hommes (CPH)</li>
              <li>Procédures disciplinaires, avertissements, mises à pieds, absences, retards</li>
              <li>Congé maternité, congé parental ; Harcèlement moral et sexuel au travail</li>
              <li>Calcul et négociation d'indemnités de départ lors de la rupture du contrat de travail</li>
              <li>Conseil et représentation devant le Conseil des Prud'hommes en demande ou en défense</li>
            </ul>
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-travaille.png' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit-reverse">
          <div class="domaine-droit-content" id="droit_etranger">
            <h3>Droit des Etrangers et de la nationalité</h3>
            <p>
              Le cabinet de Maître Francine LINDAGBA-MBA intervient également en droit des étrangers et de la nationalité, notamment :
              <ul>
                <li>Formuler une demande de titre de séjour (carte de résident, commerçant, salarié, visiteur),</li>
                <li>Obtenir un regroupement familial,</li>
                <li>Vous marier, vous pacser avec un(e) ressortissant(e) français(e) ou un(e) ressortissant(e) étranger(e),</li>
                <li>Obtenir la transcription d’un mariage célébré à l’étranger,</li>
                <li>Obtenir l’autorisation d’exercer le commerce en France pour les investisseurs étrangers,</li>
                <li>Renouvellement de titre de séjour étudiant,</li>
                <li>Accompagnement lors des démarches de demande de changement de statut d'étudiant à salarié (travailleur temporaire, salarié en mission, vie privée et familiale…),</li>
                <li>L’assistance en cas de refus de séjour en France,</li>
                <li>Recours administratifs (recours gracieux ou hiérarchique),</li>
                <li>Recours devant les Tribunaux administratifs et les Cours d’Appel Administratives (recours en annulation de l’arrêté du Préfet, recours en référé-suspension …),</li>
                <li>Demande de régularisation de la situation administrative des sans-papiers,</li>
                <li>Recours contre les refus de visa d’entrée en France.</li>
                <li>Recours contre un refus de titre de séjour,</li>
                <li>Recours contre refus de renouvellement de titre de séjour,</li>
                <li>Recours contre un refus de changement de statut,</li>
                <li>Recours contre une obligation de quitter le territoire français (OQTF),</li>
                <li>Recours contre une peine d'interdiction judiciaire du territoire.</li>
                <li>Recours contre une décision de refus de délivrance de certificats de nationalité française,</li>
                <li>Recours contre une décision d'ajournement d'une demande d'acquisition de la nationalité française,</li>
                <li>Recours contre une décision de refus de naturalisation,</li>
              </ul>
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-divers.png' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit-reverse" id="last-domaine-droit">
          <div class="domaine-droit-content" id="droit_baux">
            <h3>Droit des Baux, du Crédit et de la Consommation</h3>
            <p>
              Nous assurons un rôle de conseil, d'information, de représentation et d'assistance à tous les stades de la procédure ou de la relation contractuelle :
              <ul>
                <li>Litiges locataires / bailleurs</li>
                <li>Litiges avec le syndic en matière de travaux ou de charges de copropriété</li>
                <li>Litiges relatifs à un prêt à taux variable ou à un taux effectif global (TEG)</li>
                <li>Recours contre une saisie sur un compte bancaire</li>
                <li>Demande de suspension de paiement d'un prêt</li>
                <li>Défense des cautions</li>
                <li>Litiges prêts personnels, prêts immobiliers, crédit revolving, solde débiteur...</li>
                <li>Contentieux en matière de carte bancaire</li>
                <li>Conseil et défense des emprunteurs en matière de crédits à la consommation</li>
                <li>Droit de la consommation : démarches de résiliation, rétractation, remboursement</li>
                <li>Crédit à la consommation</li>
                <li>Banque</li>
                <li>Emprunteur</li>
                <li>Assignation en paiement</li>
                <li>Devoir de mise en garde</li>
                <li>Surendettement</li>
                <li>Délais de paiement</li>
              </ul>
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-baux.jpg' %>)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
