<div class="container main-contact-container">
  <h2>Réserver une consultation en ligne</h2>
  <h3 style= "font-size: 20px;">Pour réserver une consultation, veuillez remplir le formulaire suivant <br> (tous les champs sont obligatoires)</h3>
  <div class="form-container">
    <%= simple_form_for @contact, html: { class: 'form-horizontal' }, url: new_contact_path do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label: 'Votre Nom et prénom', required: true, placeholder: 'Nom et prénom', error: "Le nom est obligatoire", error_html: { class: 'input_error'}%>
        <%= f.input :email, label: 'Votre Email', placeholder: 'email@exemple.fr', required: true, error: "L'email n'est pas valide", error_html: { class: 'input_error'} %>
        <%= f.input :telephone, label: 'Votre Téléphone', placeholder: '06 00 00 00 00', required: true, error: "Votre numéro de téléphone est obligatoire", error_html: { class: 'input_error'} %>
        <%= f.input :message, label: 'Votre demande', as: :text, required: false, input_html: { rows: 10 }, placeholder: 'Minimum de 15 caractères, maximum de 2000', error: "Minimum 15 caractères, maximum 2000", error_html: { class: 'input_error'} %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, 'Envoyer', class: "btn button-submit"%>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="map col-md-6">
        <h2>Cabinet de Bordeaux</h2>
        <div class="display-map" id="map"></div>
        <i class="fas fa-map-marker-alt"></i>
        <p>105 rue Lecocq 33000 Bordeaux</p>
        <i class="fas fa-mobile-alt"></i>
        <p>05 35 54 52 30  / 06 51 32 95 88 </p>
        <p>Fax: 09 72 52 59 98</p>
        <p style="text-decoration: underline">Accès Tram:</p>
        <p>Ligne A - Arrêt Hôtel de Police</p>
        <p style="text-decoration: underline">Accès Bus:</p>
        <p>Bus 4 - Arrêt Hôtel de Police</p>
      </div>
      <div class="map col-md-6">
        <h2>Cabinet de Carbon-Blanc</h2>
        <div class="display-map" id="map2"></div>
        <i class="fas fa-map-marker-alt"></i>
        <p>4 rue Thérèse 33560 Carbon Blanc</p>
        <i class="fas fa-mobile-alt"></i>
        <p>05 57 30 86 04</p>
        <p style="text-decoration: underline">Accès Tram:</p>
        <p>Ligne A- Arrêt Terminus la Gardette</p>
        <p style="text-decoration: underline">Accès Bus:</p>
        <p>Bus 90 – Arrêt 11 novembre</p>
      </div>
    </div>
    <div class="horaire" ">
      <h3 style="color: #B01212; text-decoration:underline;">Horaires du cabinet</h3>
      <p style="text-align:center">Du lundi au vendredi de 9h à 12h  et de 14h à 18h</p>
      <p style="text-align:center">Samedi (uniquement sur CARBONBLANC): de 9h à 12h</p>
    </div>
    <div class="email-contact">
      <i class="far fa-envelope"></i>
      <a class="emailto" href="mailto:flm.cabinet.avocat@gmail.com">flm.cabinet.avocat@gmail.com</a>
    </div>
  </div>

</div>


